/* Reset  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.scacchiera{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.quadrato{
    width: 100px;
    height: 100px;
    background-color: green;
    border: 1px solid black;
}

.quadrato.red{
    background-color: red;
}